body {
  background-color: #ecf0f1;
  color: #000;
}

div {
  display: block;
}

h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2.25em;
}

h2:first-child {
  color: rgba(52, 152, 219, 0.4);
}

h2:nth-child(2) {
  color: rgba(219, 119, 52, 0.4);
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
}

.hide {
  display: none;
}

/*canvas {
  float: right;
}*/

/*div {
  display: inline-block;
}

h2 {
  font-family: 'Source Sans Pro', sans-serif;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
}*/
