* {
    box-sizing: border-box;
}

body {
    background-color: #ecf0f1;
    color: #000;
    font-size: 100%;
    line-height: 1.6875;
}

header,
main {
    padding: 0 5rem;
}

header {
    background: linear-gradient(to top, #fccfb7, #ecf0f1);
    height: 650px;
}

h1 {
    color: #f46f25;
    padding-top: 15%;
    text-align: center;
}

nav {
    background-color: #3498db;
    display: flex;
    float: none !important;
    margin: 5% auto;
    z-index: 500;
}

.fixed {
  position: fixed;
  top: 0;
}

nav>ul {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
}

a {
    color: #ecf0f1;
}

a:hover {
    color: #fccfb7;
}

#thirty-day-data,
#seven-day-data {
  margin-top: 2em;
}

h2 {
    color: #3498db;
    font-family: 'Source Sans Pro', sans-serif;
    padding-top: 2rem;
    text-align: center;
}

p, ol>li {
    color: #db7734;
    font-family: 'Open Sans', sans-serif;
}

footer {
    border-top: 1px solid #db7734;
    margin-top: 2%;
}

footer > div {
  text-align: center;
}

footer p, footer a i {
    padding-top: 2%;
}

footer a {
    color: #3498db;
}

footer i {
  color: #db7734;
}

footer i:hover {
  color: #3498db;
}


/***** RESPONSIVE DESIGN *****/

@media only screen and (max-width: 400px) {
    body {
        font-size: 70%;
    }
    header, main {
        padding: 0 !important;
    }
}

@media only screen and (max-width: 800px) {
    body {
        font-size: 80%;
    }
    header, main {
        padding: 0 2rem;
    }
}

@media only screen and (min-width: 1100px) {
    body {
        font-size: 110%;
    }
    header, main {
        padding: 0 3rem;
    }
}
